body{
    font-family: initial;
    font-weight: 400;
}
.section-invoices{
    width: 450px;
    margin: 0 auto;
}
.section-invoices .header-title{
    font-size: 3rem;
    font-weight: bold;
    margin: 0px 4rem;
    text-align: center;
}
.title-phone{
    padding: 0 2rem;
}
.title-phone div{
    display: flex;
    justify-content: space-between;
   
}
.date-accept {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    
}
.date-accept div{
    margin: auto 0 ;
}
.fs-9{
    font-size: 9px; 
}
.fs-11{
    font-size: 11px; 
}
.fs-12{
    font-size: 12px; 
}
.fs-18{
    font-size: 18px; 
}
.fs-26{
    font-size: 26px;   
}
.f-bold{
    font-weight: bold;
}
.h-18{
    height: 18px;
}
.cash-invoice-title{
    line-height: 1;
    border: 1px solid black;
    border-radius: 8px;
    text-align:center;
    padding: 1px 4px;
}
.name-invoices{
    border-bottom: 1px solid black ;
    padding-bottom:1px;
    margin-right: 10px ;
    width: 100% ;
}
.name-invoices-title{
    white-space: nowrap ;
    position: relative;
}
.name-invoices-title::after{
    top: 100%;
}

.s-content{
    border-radius: 5px;
    border: 1px solid black ;
    /* height:445px; */
}
.header-invoice .h-col{
    height: 50px;
} 
.header-invoice .h-i-sec{
    border-radius: 5px;
    border: 1px solid black ;
    width : 100% ;
    height: 100%;
    padding: 1px 2px;
    text-align: center;
} 

 .h-col{
    padding: 0 1px;
} 
 .h-i-sec{
    border-radius: 5px;
    border: 1px solid black ;
    width : 100% ;
    padding: 0 2px;
    text-align: center;
}
.border-top{
    border-top: 1px solid black ;
}
.border-row:not(:last-of-type){
    border-bottom: 1px dotted black ;
}
.s-row{
width: 25%;
/* display: flex; */
justify-content: end;
/* background: red; */
border-left: 1px solid black;

}
.h-cell{
height:25px;
}
.footer-invoice .h-i-sec{
    height :35px
  }
  .in-details{
      font-size: 12px;
      font-weight: bold;
  }

  /* //////////////////////////////////// */

  