body{
    font-family: initial;
    font-weight: 400;
}
.section-invoices{
    width: 450px;
    margin: 0 auto;
}
.section-invoices .header-title{
    font-size: 4rem;
    font-weight: bold;
}
.fs-12{
    font-size: 12px;
    
}
.cash-invoice-title{
    border: 1px solid black;
    border-radius: 8px;
    text-align:center;
    padding: 4px;
}
.name-invoices{
    border-bottom: 1px solid black ;
    padding-bottom:1px;
    margin-right: 10px ;
    width: 100% ;
}
.name-invoices-title{
    white-space: nowrap ;
}

.s-content{
    border-radius: 5px;
    border: 1px solid black ;
    /* height:445px; */
}
.header-invoice .h-i-sec{
    border-radius: 5px;
    border: 1px solid black ;
    width : 100% ;
    padding: 0 2px;
    text-align: center;
} 
 .h-col{
    padding: 0 1px;
} 
 .h-i-sec{
    border-radius: 5px;
    border: 1px solid black ;
    width : 100% ;
    padding: 0 2px;
    text-align: center;
}
.border-row:not(:last-of-type){
    border-bottom: 1px dotted black ;
}
.s-row{
width: 25%;
/* display: flex; */
justify-content: end;
/* background: red; */
border-left: 1px solid black;

}
.h-cell{
height:25px;
}
